# Database Configuration
DB_PASSWORD=alguna_pass
DB_NAME=encuesta
DB_USER=user_encuesta
DB_HOST=localhost
DB_PORT=5432

# Redis Configuration
REDIS_PASSWORD=your_redis_password_here

# Grafana Configuration
GRAFANA_PASSWORD=your_grafana_password_here

# Application Configuration
NODE_ENV=production
PORT=3001
